.section {
  display: grid;
  gap: 1.25rem;
}

.title {
  margin: 0;
  color: #f3f3f3;
  font-size: 1.55rem;
  padding-left: 0.4rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}